*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    background: rgb(8, 14, 44);

}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    .container{
        .navbar{
            flex-wrap: wrap;
            padding: 20px 10px;
            background: rgb(5, 12, 24);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .one_a{
                color: #FFFFFF;
                font-family: Open Sans;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                padding: 15px;
                border-radius: 5px;
                background: rgba(58, 104, 184, 1);
                &:hover{
                    color: #ffffff;
                    background: rgb(128, 159, 223);

                }
                
            }
            ul{
                display: flex;
                align-items: center;
                gap: 20px;
                li{
                    display: flex;
                align-items: center;
                gap: 20px;
                    a{
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #FFFFFF;
                        
                    }
                }
            }
        }
    }
}



main{
    section{
        .container{
            .section_one{
                .section_one_left{
                    
                }
            }
        }
    }
}