*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    text-decoration: none;
    background: rgb(8, 14, 44);

}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    .container{
        .navbar{
            flex-wrap: wrap;
            padding: 20px 10px;
            background: rgb(5, 12, 24);
            display: flex;
            align-items: center;
            justify-content: space-between;
            .one_a{
                color: #FFFFFF;
                font-family: Open Sans;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                padding: 15px;
                border-radius: 5px;
                background: rgba(58, 104, 184, 1);
                &:hover{
                    color: #ffffff;
                    background: rgb(128, 159, 223);

                }
                
            }
            ul{
                display: flex;
                align-items: center;
                gap: 20px;
                li{
                    display: flex;
                align-items: center;
                gap: 20px;
                    a{
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #FFFFFF;
                        
                    }
                }
            }
        }
    }
}



main{
    section{
        .container{
            .section_one{
                display: flex;
                align-items: center;
                padding: 50px 0;
                .section_one_left{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    width: 45%;
                    h4{
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: rgba(58, 104, 184, 1);
                        
                    }
                    h1{
                        font-family: Open Sans;
                        font-weight: 800;
                        font-size: 55px;
                        line-height: 130%;
                        letter-spacing: 0%;
                        color: white;
                        
                    }
                    p{
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        opacity: 0.5;
                        color: white;
                        
                    }
                    span{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        a{
                            padding: 20px ;
                            background: rgba(58, 104, 184, 1);
                            color: rgba(255, 255, 255, 1);
                            font-family: Open Sans;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            &:hover{
                            background: rgb(115, 149, 207);

                            }
                           
                            i{
                                    background: none;       
                            }
                            
                        }
                    }
                }
                .section_one_right{
                    width: 45%;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
 
 
 
    }


    section{
        .container{
            .section_two{
                marquee{
                    display: flex;
                    align-items: center;
                    gap: 50px;
                }
            }
        }
    }


    section{
        .container
        .section_thearee{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .section_thearee_left{
                width: 45%;
                img{
                    width: 100%;
                }
            }
            .section_thearee_right{
                display: flex;
                flex-direction: column;
                gap: 40px;
                h1{
                    color: white;
                    font-family: Open Sans;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 130%;
                    letter-spacing: 0%;
                    
                }
                p{
                    font-family: Open Sans;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: 0%;
                    color: white;
                    opacity: 0.5;
                    
                }
                a{
                    font-family: Open Sans;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: rgba(255, 255, 255, 1);
                    padding: 10px 20px;
                    background: rgba(58, 104, 184, 1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30%;
                    border-radius: 5px;
                    &:hover{
                        background: rgb(108, 133, 175);

                    }

                    
                }
                width: 45%;
            }
        }
    }


    section{
        .container{
            .section_foo{
                width: max-content;
                animation: scroll-left 25s linear infinite;
                @keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);   
  }
}
                 
                     display: grid;
                     grid: auto;
                     display: flex;
                     align-items: center;
                     width: 100%;
                     gap: 10px;
                     
                     ul{
                         border-radius: 5px;
                         background: rgb(7, 25, 48);
                         text-align: center;
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         gap: 10px;
                         width: 70%;
                         h1{
                             background: none;
                             font-family: Open Sans;
                             font-weight: 700;
                             font-size: 23px;
                             line-height: 125%;
                             letter-spacing: 0%;
                             text-align: center;
                             color: white;
                             opacity: 0.5;
                             
                             
                            }
                            p{
                                font-family: Open Sans;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 160%;
                                letter-spacing: 0%;
                                text-align: center;
                                color: white;
                                opacity: 0.5;
                                background: none;
                                
                            }
                            
                            img{
                                width: 30%;
                                background: none;
                            }
                        }
                    
                
            }
        }
    }



    section{
        .container{
            .section_five{
                display: flex;
                align-items: center;
                .section_five_left{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    width: 45%;
                    h1{
                        font-family: Open Sans;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 130%;
                        letter-spacing: 0%;
                        color: white;
                        
                    }
                    p{
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        color: white;
                        opacity: 0.5;
                        
                    }
                }
                .section_five_right{
                    width: 45%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}





footer{
    .container{
        .f_container{

            display: flex;
            align-items: start;
            justify-content: space-between;
            .one_ul{
                width: 20%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                p{
                font-family: Circular Std;
                font-weight: 450;
                font-size: 14px;
                leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0%;
                color: white;
                img{
                    width: 100%;
                    object-fit: cover;
                }
                
                }
            }
            .two_ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 20%;
                span{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    i{
                        color: white;
                    }
                }
                h5{
                    font-family: Circular Std;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    
                }
                p{
                    font-family: Circular Std;
                    font-weight: 450;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    opacity: 0.5;
                    
                }
                a{
                    font-family: Circular Std;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 100%;
                      letter-spacing: 0%;
                    color: #FFFFFF;

                      
                }
            }
            .ul_centr{
                width: 15%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                p{
                font-family: Circular Std;
                font-weight: 450;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: white;
                
                a{
                     font-family: Circular Std;
                     font-weight: 450;
                     font-size: 14px;
                     line-height: 100%;
                     letter-spacing: 0%;
                     color: rgb(255, 255, 255);
                     opacity: 0.5;
                     
                }
                }
            }
        }
    }
}


@media {
    
}