main{
    section{
        .container{
            .section_one{
                display: flex;
                align-items: center;
                padding: 50px 0;
                .section_one_left{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    width: 45%;
                    h4{
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        text-transform: uppercase;
                        color: rgba(58, 104, 184, 1);
                        
                    }
                    h1{
                        font-family: Open Sans;
                        font-weight: 800;
                        font-size: 55px;
                        line-height: 130%;
                        letter-spacing: 0%;
                        color: white;
                        
                    }
                    p{
                        font-family: Open Sans;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 160%;
                        letter-spacing: 0%;
                        opacity: 0.5;
                        color: white;
                        
                    }
                    span{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        a{
                            padding: 20px ;
                            background: rgba(58, 104, 184, 1);
                            color: rgba(255, 255, 255, 1);
                            font-family: Open Sans;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            &:hover{
                            background: rgb(115, 149, 207);

                            }
                           
                            i{
                                    background: none;       
                            }
                            
                        }
                    }
                }
                .section_one_right{
                    width: 45%;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
 
 
 
    }